.shop-display {
    margin-top: 30px;
}
.shop-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    color: saddlebrown
}
.shop-display-list {
    display: grid;
    grid-template-columns: repeat(autor-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}