.shop-display{
    margin-top: 30px;
}
.shop-display h2{
    font-size: max(5vw,24px);
    font-weight: 600;
    text-align: center;
}
.shop-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 20px 30px;
    gap: 30px;
    row-gap: 50px;

}